body {
    margin: 0;
    padding: 20px;
}

h1 {
    color: blue;
}

.lineblock { 
  display: inline-block; 
  margin: 1px; 
  height: 5px; 
}

.CodeMirror {
  border: 1px solid #aaa; 
  height: 400px
}